In [2]:
import pandas as pd
import numpy as np

In [3]:
name = 'gen.hort54@gmail.com'

In [5]:
name.split('@')

['gen.hort54', 'gmail.com']

In [7]:
names = pd.Series(['andrew', 'bobo', 'claire', 'david', '5'])

In [11]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [14]:
name.isdigit()

False

In [20]:
tech_finance = ['GOOG,APPL,AMZN', 'JPM,BAC,GS']

In [23]:
tickers = pd.Series(tech_finance)

In [33]:
tickers.str.split(',', expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [27]:
tech = 'GOOG,APPL,AMZN'

In [31]:
tech.split(',')[0]

'GOOG'

In [35]:
messy_names = pd.Series(['andrew ', 'bo;bo', '   claire   '])

In [37]:
messy_names

0         andrew
1           bo;bo
2       claire
dtype: object

In [42]:
messy_names.str.replace(';', '').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [ ]:
# np.vectorize(func)(messy_names)